<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.dpr.vitae.mapper.VitaeCredentialMapper">
    
    <resultMap type="VitaeCredential" id="VitaeCredentialResult">
        <result property="id"    column="id"    />
        <result property="userUuid"    column="user_uuid"    />
        <result property="vitaeUuid"    column="vitae_uuid"    />
        <result property="credentialName"    column="credential_name"    />
        <result property="gainTime"    column="gain_time"    />
        <result property="credentialPic"    column="credential_pic"    />
        <result property="credentialNo"    column="credential_no"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectVitaeCredentialVo">
        select id, user_uuid, vitae_uuid, credential_name, gain_time, credential_pic, credential_no, create_time, status, update_time from vitae_credential
    </sql>

    <select id="selectVitaeCredentialList" parameterType="VitaeCredential" resultMap="VitaeCredentialResult">
        <include refid="selectVitaeCredentialVo"/>
        <where>  
            <if test="userUuid != null  and userUuid != ''"> and user_uuid = #{userUuid}</if>
            <if test="vitaeUuid != null  and vitaeUuid != ''"> and vitae_uuid = #{vitaeUuid}</if>
            <if test="credentialName != null  and credentialName != ''"> and credential_name like concat('%', #{credentialName}, '%')</if>
            <if test="gainTime != null  and gainTime != ''"> and gain_time = #{gainTime}</if>
            <if test="credentialPic != null  and credentialPic != ''"> and credential_pic = #{credentialPic}</if>
            <if test="credentialNo != null "> and credential_no = #{credentialNo}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectVitaeCredentialById" parameterType="Long" resultMap="VitaeCredentialResult">
        <include refid="selectVitaeCredentialVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertVitaeCredential" parameterType="VitaeCredential" useGeneratedKeys="true" keyProperty="id">
        insert into vitae_credential
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userUuid != null">user_uuid,</if>
            <if test="vitaeUuid != null">vitae_uuid,</if>
            <if test="credentialName != null">credential_name,</if>
            <if test="gainTime != null">gain_time,</if>
            <if test="credentialPic != null">credential_pic,</if>
            <if test="credentialNo != null">credential_no,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userUuid != null">#{userUuid},</if>
            <if test="vitaeUuid != null">#{vitaeUuid},</if>
            <if test="credentialName != null">#{credentialName},</if>
            <if test="gainTime != null">#{gainTime},</if>
            <if test="credentialPic != null">#{credentialPic},</if>
            <if test="credentialNo != null">#{credentialNo},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateVitaeCredential" parameterType="VitaeCredential">
        update vitae_credential
        <trim prefix="SET" suffixOverrides=",">
            <if test="userUuid != null">user_uuid = #{userUuid},</if>
            <if test="vitaeUuid != null">vitae_uuid = #{vitaeUuid},</if>
            <if test="credentialName != null">credential_name = #{credentialName},</if>
            <if test="gainTime != null">gain_time = #{gainTime},</if>
            <if test="credentialPic != null">credential_pic = #{credentialPic},</if>
            <if test="credentialNo != null">credential_no = #{credentialNo},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVitaeCredentialById" parameterType="Long">
        delete from vitae_credential where id = #{id}
    </delete>

    <delete id="deleteVitaeCredentialByIds" parameterType="String">
        delete from vitae_credential where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>